* { box-sizing: border-box; }

.instagram-placeholder {
float: left;
}

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  position: relative;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.instagramGrid
{
    width: inherit;
    height: inherit;

}

.imageBlock
{
    display: inline-block;
    float: none;
    position: absolute;
    width: 306px;
    height: 306px;
    background-color: rgba(0,0,0,0);
    border-style:solid;
    border-width:0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.instagramImage
{
    display: block;
    width: 100%;
    height: 100%;
    background-color: green;
}

.instagramImageHolder
{
    display: block;
    position: absolute;
}

.animationObject
{
    display: block;
    position: absolute;
}

body
{
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#menu
{
    display: block;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: yellow;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    font-family: "helvetica";
}

.inputField
{
    width: 100px;
}

#submitButton
{
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#bigTag
{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 128px;
    text-align: center;
    color: white;
    font-family: "helvetica";
    text-shadow: 5px 5px 0 #000000;
    z-index: 9;
}